.container > * {
  background-color: blanchedalmond;
  border: 5px solid rgb(137, 158, 19);
  padding: 20pxgit;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
}

.advertise {
  grid-area: advertise;
}

footer {
  grid-area: footer;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header header header header"
    "navbar main main sidebar"
    "navbar main main advertise"
    "footer footer footer footer";
}

@media screen and (max-width: 576px) {
  .container {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "header"
      "navbar"
      "main"
      "sidebar"
      "advertise"
      "footer";
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    display: grid;
    padding: 20px;
    grid-template-areas:
      "header header header"
      "navbar navbar navbar"
      "sidebar main main"
      "advertise footer footer";
  }
}
