* {
  background-color: royalblue;
  margin: 0 auto;
  text-align: center;
}
.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 200px);
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery-img-1 {
  grid-column: span 6;
  grid-row: span 2;
}
.gallery-img-2,
.gallery-img-3,
.gallery-img-6,
.gallery-img-8 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery-img-4,
.gallery-img-5 {
  grid-column: span 2;
  grid-row: span 1;
}
.gallery-img-7 {
  grid-column: span 1;
  grid-row: span 1;
}
